{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Posture Alert System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</head>
<body>
    {% include 'Customer/navbar.html' %}
    {% block content %}
    {% endblock %}
  <div class="page-content p-5" id="content">
  <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2 text-primary"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
  <!-- Demo content -->
    <h2 style = "color:#000000;"class="lead display-4 font-weight-bold"><center>Welcome!</center></h2>
    <br>
      <div class="row text-white">
        <div style = "margin-left:300px; margin-right:0px;margin-top:5px;">
          <div class = "box" style = "display:flex;">
            <figure>
              <img style = "border: 5px solid #000000; " src="{% static 'images/profile.jpg' %}" alt="..." height="220" width="220" class="mr-3 rounded shadow-sm">
              <figcaption style = "color:black; font-weight:bold; text-align:center"> Profile </figcaption>
            </figure>
            <figure>
              <img style = "border: 5px solid #000000; margin-left:150px; bg-color:white;  " src="{% static 'images/notif.jpg' %}" alt="..." height="220" width="220" class="mr-3 rounded shadow-sm">
              <figcaption style = "color:black; font-weight:bold; text-align:center; margin-left:150px;"> Notifications </figcaption>
            </figure>
          </div>
        </div>
        <div style = "margin-left:300px; margin-top:40px; margin-right:0px;">
          <div class = "box" style = "display:flex;">
            <div>
              <figure>
                <img style = "border: 5px solid #000000;   " src="{% static 'images/model.jpg' %}" alt="..." height="220" width="220" class="mr-3 rounded shadow-sm">
                <figcaption style = "color:black; font-weight:bold; text-align:center"> Models </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <img style = "border: 5px solid #000000; margin-left:150px; bg-color:white; " src="{% static 'images/graph.png' %}" alt="..." height="220" width="220" class="mr-3 rounded shadow-sm">
                <figcaption style = "color:black; font-weight:bold; text-align:center; margin-left:150px; "> Graphs </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

