{% load static %}
<div style = "background-color: #2a9d8f;" class="container-fluid">
    <div class="row">
        <div style = "background-color: #e1ffec;" class="col-2.5 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">
                <li class="nav-item">
                <br>
                    <a class="nav-link text-truncate" ><i class="fa fa-home"></i> <img src = "images/truelogo.png" alt="logo"></a>
                <br>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-truncate" href="/notifications"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">Notifications</span></a>
                <br>
                </li>
                <li class="nav-item"><a class="nav-link text-truncate" href="/graphs"><i class="fa fa-bar-chart"></i> <span class="d-none d-sm-inline">Graphs</span></a></li>
                <br>
                <li class="nav-item"><a class="nav-link text-truncate" href="/models"><i class="fa fa-download"></i> <span class="d-none d-sm-inline">Models</span></a></li>
            </ul>
        </div>
        <div class="col pt-2.5">
            <h2>
                <center>
                <br>
                <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a> Welcome User! </h2>
                <br>
                </center>
            <p>put the logos</p>
        </div>
    </div>
</div>
