{% load static %}
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-primary">
    <div class="media d-flex align-items-center"><img src="{% static 'images/truelogo.png' %}" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0"><center><text style = "color:white">Posture Alert System</text></center></h4>
        
      </div>
    </div>
  </div>

  <p class="text-black font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-home mr-4 text-primary fa-fw"></i>
                Home
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-exclamation mr-4 text-primary fa-fw"></i>
                Notifications
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-area-chart mr-4 text-primary fa-fw"></i>
                Graphs
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-bar-chart mr-4 text-primary fa-fw"></i>
                Models
            </a>
    </li>
  </ul>

  <p class="text-black font-weight-bold text-uppercase px-3 small py-4 mb-0">Account</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-id-card mr-4 text-primary fa-fw"></i>
                Profile
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-users mr-4 text-primary fa-fw"></i>
                Connect with Friends
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-sign-out mr-4 text-primary fa-fw"></i>
                Sign Out
            </a>
    </li>
  </ul>
</div>
