{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Posture Alert System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/Queue.src.js' %}"></script>
    <!--connect the data that is incoming to this page using charts-->
    <script>

    let socket = new WebSocket('ws://localhost:8000/ws/polData/');
    socket.onopen =function(e){
        alert('Connection established');
        
    };

    //notifications queue
    var queue = new Queue(); 
    var counter = 0;

    socket.onmessage = function(e){
        console.log("ON MESSAGE: ", e.data);
         
        var recData=JSON.parse(e.data);
        if(queue.getLength() < 20){ //there are less than 20 notifications
            counter = counter+1; 
            queue.enqueue(recData); 
        }
        else{//there are 20 notifications
            counter = 1; 
            queue.dequeue(); //remove oldest notif
            queue.enqueue(recData); //add new notification data
        }
    };

    socket.onclose = function(e){
        alert('Connection Closed');
    };
    
    </script>
</head>
<body>
    {% include 'Customer/navbar.html' %}
    <div class="row text-white">
        <div style = "margin-left:400px; margin-right:0px;margin-top:20px;">
            <table class="table" id ="notifTable">
                <caption> List of Notifications </caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Message</th>
                        <th scope="col">Date and Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
    
<script>  
    if(queue.getLength()>0){
        var message = queue.dequeue(); 
    }  
    var today = new Date(); 
    var date = today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate() + ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();  
    var tag = '<tr><td>' + counter + '</td><td>' + message + '</td><td>' + date + '</td></tr>'; 
    $(notifTable).find('tbody').append(tag);
</script>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>